@import url("https://rsms.me/inter/inter.css");

.container{
  background-color:rgb(243, 240, 240);
  font-family: "inter";
}
.calendar{
  display: flex;
  justify-content: center;
}
.button-container{
  display: flex;
  justify-content: center;
  margin: 1%;
}
.title-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-bottom: black solid 2px;
}
.page-title{
  color: rgb(248, 80, 19);;
  margin-bottom: 0.8%;
}
.date-range-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-box{
  background-color: white;
  padding: 0.5%;
  border-radius: 3px;
  border: solid black 1px;
  width: 70%;
  margin: 1%;
  display: flex;
  flex-direction: column;
}
.event-title{
  color: rgb(248, 80, 19);
  margin-bottom: 1.9%;
  margin-top: 0;
  background-color: white;
  width: 100%;
  height: 9rem;
}
.event-box-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid black 1.5px;
  font-size: 1.73rem;
  height: 9.5rem;
}
.event-box-header-title{
  background-color: white;
  height: 9.46rem;
}
.event-box-footer-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13.5rem;
}
.event-box-footer-button{
  height: 2rem;
  background-color: white;
  border: none;
  width: 8.5rem;
 }
 .event-box-footer-button:focus {
  outline: none;
}
.event-box-footer-button-text{
  width: 3.8rem;
  margin-bottom: 0;
  padding-left: 0.4rem;
  background-color: white;
}
.event-box-header-title{
  width: 73%;
}
.event-box-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.event-box-footer-date{
  width: 73%;
  background-color: white
}
.modal-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(243, 240, 240);
  font-family: "inter";
}

.modal-close{
  display: flex;
  justify-content: flex-end;
}

.eventbrite-image{
  height: 2.9rem;
  width: 8.7rem;
}

.nav-buttons{
  background-color: rgb(243, 240, 240);
  border: rgb(248, 80, 19) solid 1.6px;
  width: 7rem;
  height: 2.8rem;
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
  margin: 2%;
}

.hidden-nav-buttons{
  width: 7rem;
  height: 2.8rem;
  border-radius: 3px;
  margin: 2%;
  font-family: inter;
  font-size: 1.2rem;
  font-weight: 500;
  border: rgba(240, 136, 98, 0.589) solid 1.6px;
  background-color: rgb(243, 240, 240);
  color: #666666;
}

.nav-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-button{
  background-color: rgb(248, 80, 19);
  height:60px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border: none;
  width:60px;
}
.search-button:focus{
outline: none;
}
.logo-image{
  height: 8rem;
  width: 13.5rem;
  border-radius: 3px;
}